@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: #4f5b62;
    color: #fff;
    text-align: center;
}

.container_maior {
    width: 960px;
    margin: auto;
}

.padrao {
    background-color: #263238;
    padding: 30px;
    text-align: center;
    box-shadow: 0 3px 5px 0 #1c2529;
    transition: 0.3s;
}

.padrao:hover {
    background-color: #62727b;
    box-shadow: 0 3px 15px 4px #1c2529;
}

.conteudo {
    display: inline-block;
    height: 900px;
    font-size: 25px;
}

#B {
    width: 294px;
    margin: 20px 20px 20px auto;
}

#C {
    width: 645px;
    margin: 20px auto 20px -4px;
}

a {
    color: #7ef0c4;
    text-decoration: none;
}
a:hover {
    color: #61dacf;
    text-decoration: underline;
}