* {
    box-sizing: border-box;
}

body {
    background-color: #dddddd;
}

.principal {
    align-content: center;
    justify-content: center;
    margin: auto;
}

header, footer {
    padding: 0 12px;
}

.head-container, .blocos-menores, .blocos-maiores, .foot-container {
    background-color: #808080;
}

.head-container, .foot-container, .blocos-menores {
    height: 200px;
    min-width: 200px;
}

.blocos-menores, .blocos-maiores {
    width: 100%;
    min-width: 200px;
}

.blocos-menores {
    margin-top: 15px;
}

.blocos-maiores {
    height: 300px;
}

footer, .blocos-maiores {
    margin-top: 15px;
}

.foot-text, .head-text, .blocos-maiores {
    font-size: 40px;
    font-weight: bold;
}