@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: #4f5b62;
    color: #fff;
    text-align: center;
}

.secoes {
    width: 960px;
    margin-bottom: 20px;
}

.maiores {
    margin: 0 auto;
}

.info {
    background-color: #263238;
}

.principal {
    background-color: #7afaaf;
    color: #1c2529;
}

.fora {
    margin: 20px auto;
}

.secoes, .blocos {
    padding: 30px;
    box-shadow: 0 3px 5px 0 #1c2529;
    transition: 0.3s;
}

.conteudo {
    background-color: #62727b;
}

.blocos {
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
}
.blocos:hover {
    background-color: #102027;
}

.secoes.conteudo:hover {
    background-color: #263238;
    box-shadow: 0 3px 7px 4px #1c2529;
}

.secoes.dados, .secoes.formacao, .secoes.xp, .secoes.perfil{
    display: inline-block;
}

.titulo_topico, .listas {
    text-align: left;
}

p {
    text-align: justify;
}

.link {
    color: #7ef0c4;
    text-decoration: none;
}
.link:hover {
    color: #61dacf;
    text-decoration: underline;
}

.listas {
    list-style: none;
    padding: 0;
    line-height: 27px;
}

mark {
    background-color: #263238;
    color: #fff;
}
mark:hover {
    background-color: #1c2529;
    color: #e5f5ca
}

.destaque:hover {
    background-color: #e5f5ca;
    color: #000;
    font-size: 22px;
    line-height: 30px;
    padding: 20px;
    transition: 0.2s;
    font-weight: bolder;
}