@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    box-sizing: border-box;
    border-radius: 5px;
    vertical-align: top;
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: #4f5b62;
    color: #fff;
    text-align: center;
}

.container_maior {
    width: 960px;
    margin: auto;
}

.padrao {
    background-color: #263238;
    padding: 30px;
    text-align: center;
    box-shadow: 0 3px 5px 0 #1c2529;
    transition: 0.3s;
}

.padrao:hover {
    background-color: #62727b;
    box-shadow: 0 3px 15px 4px #1c2529;
}

.conteudo {
    display: inline-block;
    height: 900px;
    font-size: 25px;
}

#B {
    width: 294px;
    margin: 20px 20px 20px auto;
}

#C {
    width: 645px;
    margin: 20px auto 20px -4px;
}

a {
    color: #7ef0c4;
    text-decoration: none;
}
a:hover {
    color: #61dacf;
    text-decoration: underline;
}

.imagens {
    border-radius: 100px;
    overflow: hidden;
    scroll-behavior: smooth;
    margin-bottom: 20px;
}

#C {
    overflow: auto;
}

.artigos {
    margin: auto;
    margin-bottom: 20px;
    width: 450px;
}

p {
    text-align: justify;
    font-size: 15px;
    padding: 20px;
    width: 400px;
    margin: auto;
    line-height: 20px;
}

audio, video {
    width: 250px;
    margin-left: -8px;
}

.destaque:hover {
    background-color: #e5f5ca;
    color: #000;
    font-size: 22px;
    line-height: 30px;
    padding: 20px;
    transition: 0.2s;
    font-weight: bolder;
}