* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.caixa-principal {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.caixa-lateral {
    background-color: rgb(49, 52, 80);
    height: 100vh;
    width: 18%;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 3px 2px #808080;
    z-index: 10;
}

.caixa-lateral h5 {
    color:rgb(109, 111, 131);
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 20px;
}

.caixa-lateral ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 10px;
}

.caixa-lateral li {
    padding: 10px 10px 10px 50px;
}

.caixa-lateral li:hover {
    background-color: rgb(87, 177, 236);
    cursor: pointer;
}

.caixa-lateral li::before {
    content: "";
    height: 12px;
    width: 12px;
    background-image: url(../images/zelda.png);
    background-size: 12px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 20px;
}

.caixa-central {
    background-color: rgb(226, 226, 226);
    margin: 0;
    width: 100vw;
}

.menu-superior ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
}

.menu-superior li {
    padding: 30px 20px 10px 20px;
}